@font-face {
  font-family: Blanco;
  src: url("../fonts/blanco-regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: Blanco;
  src: url("../fonts/blanco-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Blanco;
  src: url("../fonts/blanco-bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: Primer;
  src: url("../fonts/primer-bold.woff2") format("woff2");
  font-weight: bold;
}
body {
  margin: 0;
  background-color: rgb(38, 38, 38);
  background-image: radial-gradient(50% 50% at 50% 0%, rgba(0, 0, 0, 0.66), rgb(38, 38, 38)), linear-gradient(rgb(255, 255, 255), rgb(38, 38, 38));
  font-family: Blanco, serif;
}

.button {
  display: inline-block;
  padding: 0.8em 2em;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(94, 94, 94);
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom: 1px solid #262626;
  border-right: 1px solid #262626;
  font-family: Primer, sans-serif;
  font-weight: bold;
  box-shadow: inset 1px 1px 0 #777, 0 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  text-decoration: none;
}
.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button--block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.heading {
  margin: 0.3em 0 0.6em 0;
  font-size: clamp(24px, 3vw, 32px);
  line-height: 115%;
  font-family: Primer, sans-serif;
  color: rgb(0, 0, 0);
}

.heading--huge {
  font-size: clamp(32px, 4vw, 48px);
}

.heading--jumbo {
  font-size: clamp(42px, 5vw, 58px);
}

.heading--small {
  font-size: clamp(16px, 2vw, 24px);
}

.heading--color-2 {
  color: rgb(255, 255, 255);
}

.heading--color-3 {
  color: rgb(244, 67, 54);
}

.heading--color-4 {
  color: rgb(184, 34, 255);
}

.heading--shadow {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px;
}

.heading--serif {
  font-family: Blanco, serif;
}

.heading--not-bold {
  font-weight: normal;
}

.heading--uppercased {
  text-transform: uppercase;
}

.heading--no-margin {
  margin: 0;
}

.heading--no-top-margin {
  margin-top: 0;
}

.heading--even-margin {
  margin: 0.6em 0;
}

.input {
  padding: 0 0.5em;
  font-size: 16px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 3px;
}

.link {
  color: rgb(0, 137, 199);
  text-decoration: none;
}
.link:hover {
  opacity: 0.8;
}

.link--color-2 {
  color: rgb(255, 122, 24);
}

.link--color-3 {
  color: rgb(0, 0, 0);
}

.link--color-4 {
  color: rgb(255, 255, 255);
}

.link--color-5 {
  color: rgb(67, 67, 67);
}

.link--color-6 {
  color: rgb(169, 163, 159);
}
.link--color-6:hover {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.link--color-7 {
  color: rgb(212, 212, 212);
}

.link--special-font {
  font-family: Primer;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.logo__icon {
  width: 20px;
}

.logo__text {
  width: 275px;
}

.text-alike-button {
  display: inline;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  color: currentColor;
  border: none;
  background-color: transparent;
}
.text-alike-button:hover {
  cursor: pointer;
}

.basic-nav {
  max-width: 100%;
}

.basic-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
}

.basic-nav__link {
  display: block;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: Primer;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  user-select: none;
}
.basic-nav__link:hover {
  color: rgb(255, 122, 24);
  background-color: rgba(255, 255, 255, 0.1);
}

.blocky-span {
  display: block;
  margin: 0.3em 0;
}

.cool-prompt {
  position: relative;
  margin-top: -48px;
  padding: 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(67, 67, 67);
  border-radius: 0 0 8px 8px;
}
.cool-prompt::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-width: 24px 10px;
  border-color: transparent rgb(144, 144, 144) rgb(144, 144, 144) transparent;
  border-style: solid;
}

.cool-prompt__heading {
  margin: 0 0 4px;
  color: rgb(255, 122, 24);
  text-transform: uppercase;
}

.cool-prompt__form {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.cool-prompt__form > :nth-child(1) {
  width: 65%;
}
.cool-prompt__form > :nth-child(2) {
  width: 35%;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 800px) {
  .cool-prompt__form > :nth-child(1), .cool-prompt__form > :nth-child(2) {
    width: auto;
  }
  .cool-prompt__form > :nth-child(2) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal-list--stylish {
  font-size: 9.25px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Primer;
}

@media (min-width: 800px) {
  .horizontal-list--stylish {
    font-size: 12px;
  }
}
.mini-ad {
  position: sticky;
  top: 16px;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 12px;
  padding: 24px;
  background-color: rgb(234, 234, 234);
  border-radius: 8px;
}

.mini-ad__image {
  display: block;
  width: 100%;
  border-radius: 8px;
}
.mini-ad__image:hover {
  opacity: 0.8;
}

.mini-ad__text {
  margin: 0;
  font-size: 10px;
  line-height: 160%;
}

.mini-ad__ads-by {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 11px;
}

.named-list {
  display: grid;
  align-content: start;
  gap: 8px;
  margin: 24px 0;
  padding: 0;
  list-style: none;
}

.named-list__name {
  text-transform: uppercase;
  color: rgb(255, 122, 24);
  font-weight: bold;
  font-family: Primer;
}

.search-button {
  position: fixed;
  top: 12px;
  left: calc(100% - 56px);
  z-index: 5;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 2px 5px);
}
.search-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search-button__icon {
  width: 100%;
}

@media (min-width: 1500px) {
  .search-button {
    left: calc(100% - 56px + (1500px - 100%) / 2);
  }
}
@media (min-width: 1564px) {
  .search-button {
    left: calc(100% - 32px + (1500px - 100%) / 2);
  }
}
.sponsored-post {
  padding: 12px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.sponsored-post__image {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(17, 17, 17, 0.5);
  transition: 300ms;
}
.sponsored-post__image:hover {
  opacity: 0.8;
  transform: rotateZ(-4deg) translateY(-6px);
}

.sponsored-post__sponsored-span {
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgb(0, 137, 199);
}

.sponsored-post__text {
  margin: 4px 0 0;
  line-height: 160%;
}

.sponsored-post__accent {
  font-family: monospace;
  text-transform: uppercase;
}

.sponsors-promo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.sponsors-promo__logo {
  display: block;
}
.sponsors-promo__logo:hover {
  opacity: 0.7;
}

.sponsors-promo__image {
  display: block;
  width: 100%;
  max-width: 400px;
}

.sponsors-promo__text {
  margin: 0;
  font-size: 14px;
  line-height: 180%;
}

@media (min-width: 1000px) {
  .sponsors-promo {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 32px;
  }
  .sponsors-promo__image {
    min-width: 400px;
    max-width: 520px;
  }
  .sponsors-promo__text {
    width: 60%;
    font-size: 16px;
  }
}
.the-footer {
  background-color: rgb(17, 17, 17);
}

.the-footer-content {
  max-width: 1500px;
  margin: auto;
  padding: 0 24px 24px;
}

.the-footer__top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  gap: 32px;
  margin-bottom: 48px;
}

.the-footer__bottom {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

@media (min-width: 800px) {
  .the-footer__top {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 64px;
  }
}
@media (min-width: 940px) {
  .the-footer__bottom {
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    gap: 128px;
  }
}
.the-header {
  background-color: rgb(17, 17, 17);
  border-bottom: 1px solid rgb(103, 103, 103);
}

.the-header-content {
  display: flex;
  flex-flow: column;
  gap: 8px 48px;
  position: relative;
  max-width: 1500px;
  margin: auto;
  padding: 16px 24px 0 24px;
}

@media (min-width: 1140px) {
  .the-header-content {
    padding-bottom: 16px;
  }
  .the-header-content {
    flex-flow: row;
    align-items: center;
  }
  .the-header-content .basic-nav__list {
    overflow: visible;
  }
  .the-header-content .basic-nav__link {
    display: inline;
    padding: 30px 12px 21px;
  }
}
.website-content {
  max-width: 1500px;
  margin: auto;
  padding: 16px 16px 256px;
  background-image: url("../images/icons/star.webp");
  background-repeat: no-repeat;
  background-position: right 80px bottom -15px;
}

@media (min-width: 800px) {
  .website-content {
    padding: 32px 24px 256px;
    background-position: left 20px bottom -50px;
  }
}
@media (min-width: 1100px) {
  .website-content {
    padding-top: 48px;
  }
}
.article-preview {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.article-preview__image-link {
  display: block;
}

.article-preview__image {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  object-position: center;
}

.article-preview__image--interactive:hover {
  opacity: 0.8;
}

.article-preview__image--small {
  height: 200px;
}

.article-preview-text-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-size: clamp(14px, 3vw, 17px);
  padding: 20px;
  color: rgb(71, 71, 71);
}

.article-preview-text-part--dark-text {
  color: rgb(0, 0, 0);
}

.article-preview__text {
  margin-bottom: 24px;
  line-height: 160%;
}

.article-preview--big .article-preview__image {
  height: 200px;
}

@media (min-width: 800px) {
  .article-preview--big {
    position: relative;
  }
  .article-preview--big .article-preview__image-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  .article-preview--big .article-preview__image-link::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    border-radius: 8px;
    opacity: 0.75;
    pointer-events: none;
    mix-blend-mode: screen;
  }
  .article-preview--big .article-preview__image-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, rgb(255, 255, 255));
    pointer-events: none;
  }
  .article-preview--big .article-preview__image {
    height: 100%;
    border-radius: 8px 0 0 8px;
  }
  .article-preview--big .article-preview-text-part {
    position: relative;
    padding: 32px 32px 32px 50%;
    z-index: 1;
  }
  .article-preview--big .article-preview__text {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .article-preview--big .article-preview__image-link {
    width: 60%;
  }
}
.content-and-ads {
  display: grid;
  gap: 32px;
  margin: 48px 0;
}

.content-and-ads__slim-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

.content-and-ads__special-content-item {
  grid-column: 1/-1;
}

.content-and-ads__ads {
  display: grid;
  gap: 16px;
  grid-template-columns: 300px;
  justify-content: center;
}

@media (min-width: 640px) {
  .content-and-ads__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 24px;
  }
  .content-and-ads__content > .article-preview {
    margin: 0;
  }
}
@media (min-width: 800px) {
  .content-and-ads {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .content-and-ads__content {
    grid-template-columns: auto;
  }
  .content-and-ads__ads {
    align-content: start;
  }
}
@media (min-width: 1200px) {
  .content-and-ads__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .content-and-ads__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.full-width-grid {
  display: grid;
  gap: 24px;
  margin: 48px 0;
}
.full-width-grid > * {
  margin: 0;
}

@media (min-width: 680px) {
  .full-width-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1020px) {
  .full-width-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 24px;
  color: rgb(169, 163, 159);
  font-family: Primer;
  text-transform: uppercase;
}

.pagination__older-link {
  position: relative;
}
.pagination__older-link::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -23px;
  width: 10.4px;
  height: 20px;
  background-image: url("../images/icons/fancy-arrow-down.svg");
  transform: rotateZ(-90deg);
  pointer-events: none;
}

/*# sourceMappingURL=videos-main.css.map */
