<footer class="the-footer">

  <div class="the-footer-content">

    <div class="the-footer__top">

      <span class="heading heading--fancy heading--color-2 heading--no-margin">
        CSS-Tricks is powered by <a class="link">DigitalOcean</a>.
      </span>

      <section class="cool-prompt">

        <h3 class="heading heading--small cool-prompt__heading">Keep up to date on Web Dev</h3>

        <span>with our hand-crafted newsletter</span>

        <form class="cool-prompt__form">

          <input class="input" type="email" required>
          <input class="button" type="submit" value="Subscribe">

        </form>

      </section>

    </div>

    <nav class="the-footer__bottom">

      <ul class="named-list">
        <li class="named-list__name">DigitalOcean</li>
        <li><a class="link link--color-6">DigitalOcean</a></li>
        <li><a class="link link--color-6">DigitalOcean Community</a></li>
        <li><a class="link link--color-6">About DigitalOcean</a></li>
        <li><a class="link link--color-6">Legal</a></li>
        <li><a class="link link--color-6">Free Credit Offer</a></li>
      </ul>

      <ul class="named-list">
        <li class="named-list__name">CSS-Tricks</li>
        <li><a class="link link--color-6">Email</a></li>
        <li><a class="link link--color-6">Guest Writing</a></li>
        <li><a class="link link--color-6">Book</a></li>
        <li><a class="link link--color-6">Advertising</a></li>
      </ul>

      <ul class="named-list">
        <li class="named-list__name">Follow</li>
        <li><a class="link link--color-6">Twitter</a></li>
        <li><a class="link link--color-6">Instagram</a></li>
        <li><a class="link link--color-6">YouTube</a></li>
        <li><a class="link link--color-6">CodePen</a></li>
        <li><a class="link link--color-6">iTunes</a></li>
        <li><a class="link link--color-6">RSS</a></li>
      </ul>

    </nav>

  </div>

</footer>