<header class="the-header">

  <div class="the-header-content">

    <a class="logo" href="index.php">
      <img class="logo__icon" src="images/misc/logo-icon.svg" alt="CSS-Tricks' logo.">
      <img class="logo__text" src="images/misc/logo-text.svg" alt="Text saying 'CSS-TRICKS' and 'Powered by DigitalOcean'.">
    </a>

    <nav class="basic-nav">

      <ul class="basic-nav__list">

        <li><a class="basic-nav__link" href="articles.php">Articles</a></li>
        <li><a class="basic-nav__link" href="videos.php">Videos</a></li>
        <li><a class="basic-nav__link" href="almanac.php">Almanac</a></li>
        <li><a class="basic-nav__link" href="newsletters.php">Newsletter</a></li>
        <li><a class="basic-nav__link" href="guides.php">Guides</a></li>
        <li><a class="basic-nav__link">DigitaOcean</a></li>
        <li><a class="basic-nav__link">DO Community</a></li>

      </ul>

    </nav>

  </div>

</header>