<article class="article-preview">
  
  <a class="article-preview__image-link">
    <img class="article-preview__image article-preview__image--interactive" src="images/misc/screencast-1.png" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part article-preview-text-part--dark-text article-preview-text-part--push">

    <div>

      <h2 class="heading heading--no-margin">
        <a class="link link--color-3">
          #211 Building a Paid Subscription Newsletter with MailPoet + WooCommerce + WordPress
        </a>
      </h2>
  
      <span class="blocky-span">Aug 23, 2021</span>
      <span class="blocky-span">Running Time: 31:26</span>
  
      <p class="article-preview__text">
        With <a class="link">MailPoet</a> <a class="link">and WooCommerce</a>, we can build <a class="link">a paid subscription newsletter</a>
        into a <a class="link">WordPress</a> website. Our only costs are transaction fees, whatever
        WordPress hosting we might need, and a yearly fee for WooCommerce Subscriptions,
        making it a very cost-friendly …
      </p>
  
    </div>

    <a class="button button--block">Watch The Screencast</a>

  </div>

</article>

<article class="article-preview">
  
  <a class="article-preview__image-link">
    <img class="article-preview__image article-preview__image--interactive" src="images/misc/screencast-2.png" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part article-preview-text-part--dark-text article-preview-text-part--push">

    <div>

        <h2 class="heading heading--no-margin">
          <a class="link link--color-3">
            #10 Yaping About Astro
          </a>
        </h2>
    
        <span class="blocky-span">Aug 13, 2021</span>
        <span class="blocky-span">Running Time: 26:28</span>
    
        <p class="article-preview__text">
          I think Astro is a pretty cool bit of technology for building
          websites! Should we call it a framework? We’ll get into that in
          the video. How can we call it a framework if it asks you to “bring your …
        </p>

    </div>

    <a class="button button--block">Watch The Screencast</a>

  </div>

</article>

<article class="article-preview">
  
  <a class="article-preview__image-link">
    <img class="article-preview__image article-preview__image--interactive" src="images/misc/screencast-3.png" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part article-preview-text-part--dark-text article-preview-text-part--push">

    <div>

      <h2 class="heading heading--no-margin">
        <a class="link link--color-3">
          #209 A Netflix Clone with DataStax Astra and Netlify
        </a>
      </h2>
  
      <span class="blocky-span">Aug 6, 2021</span>
      <span class="blocky-span">Running Time: 50:53</span>
  
      <p class="article-preview__text">
        I paired up with <a class="link">David Jones-Gilardi</a> of DataStax
        to go through <a class="link">one of the workshops</a>
        they have put together (with <a class="link">Ania Kubów</a>,
        who has a <a class="link">video</a> you should watch as well)
        that does a good job of showcasing how …
      </p>

    </div>

    <div>
      <a class="button button--block">Watch The Screencast</a>
    </div>

  </div>

</article>