<article class="article-preview">
  
  <div class="article-preview-text-part">

    <div>
  
      <h2 class="heading heading--no-top-margin">
        <a class="link link--color-3">298: All Aboard the Acquisitions Train!</a>
      </h2>
  
      <p class="article-preview__text">
        [Geoff:] The news that <a class="link">Adobe is acquiring Figma</a> produced typical knee-jerk
        reactions in both directions.I’m not here to add to the noise;
        you already know how you feel about it and my take isn’t any different than what you …
      </p>

    </div>

    <span>Sep 23, 2022 (Updated on Sep 26, 2022)</span>

  </div>

</article>

<article class="article-preview">
  
  <div class="article-preview-text-part">

    <div>
  
      <h2 class="heading heading--no-top-margin">
        <a class="link link--color-3">297: Desks, Dashes, Document Outline Drama</a>
      </h2>
  
      <p class="article-preview__text">
        [Geoff]: There’s been a recent resurgence in the Document Outline debate, though this time
        with a (sorta) resolution. The original idea that we could have an outline algorithm that allows
        us to use &lt;h1> as a generic heading element anywhere …
      </p>

    </div>

    <span>Aug 8, 2022 (Updated on Sep 19, 2022)</span>

  </div>

</article>

<article class="article-preview">
  
  <div class="article-preview-text-part">

    <div>
  
      <h2 class="heading heading--no-top-margin">
        <a class="link link--color-3">296: Valuing Sites, Color Fonts, CSS Logic</a>
      </h2>
  
      <p class="article-preview__text">
        [Chris]: Hey! Thanks for tuning in for another week of CSS-Tricks news!
        Future issues of this newsletter will be coming from the gang at DigitalOcean so
        if they look a smidge different, that’s why! Reminder! If you’d like to keep …
      </p>

    </div>

    <span>Mar 29, 2022</span>

  </div>

</article>