<article class="sponsored-post">

  <a><img class="sponsored-post__image" src="images/misc/sponsored-1.png"></a>

  <p class="sponsored-post__text">
    <a class="link link--color-5">
      With Cloudways, you get the fast, reliable hosting you need to confidently run your
      website—and you can start today with $50 in free credits using the code <span class="sponsored-post__accent">csstricks</span>!
    </a>
  </p>

</article>

<article class="sponsored-post">

  <a><img class="sponsored-post__image" src="images/misc/sponsored-2.png"></a>

  <span class="sponsored-post__sponsored-span">Sponsored</span>

  <p class="sponsored-post__text">
    <a class="link link--color-5">
      Guess less and sell more with the #1 email marketing and automation brand. Sign up today.
    </a>
  </p>

</article>

<article class="sponsored-post">

  <a><img class="sponsored-post__image" src="images/misc/sponsored-3.png"></a>

  <span class="sponsored-post__sponsored-span">Sponsored</span>

  <p class="sponsored-post__text">
    <a class="link link--color-5">
      Squarespace has the templates, designer fonts, and color palettes to fit your personal style.
    </a>
  </p>

</article>

<article class="mini-ad">

  <a>
    <img class="mini-ad__image" src="images/misc/mini-ad.jpg">
  </a>

  <p class="mini-ad__text">
    <a class="link link--color-5">Your new development career awaits. Check out the latest listings.</a>
  </p>

  <a class="link link--color-5 mini-ad__ads-by">(ads via Carbon)</a>

</article>