<article class="article-preview">
  
  <a class="article-preview__image-link">
    <img class="article-preview__image" src="images/misc/article-1.webp" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part">

    <ul class="horizontal-list horizontal-list--stylish">
      <li><a class="link link--color-2">Email</a></li>
      <li><a class="link link--color-2">Links</a></li>
      <li><a class="link link--color-2">Security</a></li>
    </ul>

    <h2 class="heading">
      <a class="link link--color-3">How to Safely Share Your Email Address on a Website</a>
    </h2>

    <p class="article-preview__text">
      Spammers are a huge deal nowadays. If you want to share your contact information without
      getting overwhelmed by spam email you need a solution. I run into this problem a few months ago.
      While I was researching how to solve …
    </p>

    <div class="author">

      <a>
        <img class="author__picture" src="images/icons/person.png" alt="Author's profile picture.">
      </a>

      <span>
        <a class="link link--color-3 author__name">Lorenzo Bonannella</a> on Oct 6, 2022
      </span>

    </div>

  </div>

</article>

<article class="article-preview">

  <a class="article-preview__image-link">
    <img class="article-preview__image" src="images/misc/article-2.webp" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part">

    <ul class="horizontal-list horizontal-list--stylish">
      <li><a class="link link--color-2">Server-Side Rendering</a></li>
      <li><a class="link link--color-2">Web Components</a></li>
    </ul>

    <h2 class="heading">
      <a class="link link--color-3">Using Web Components With Next (or Any SSR Framework)</a>
    </h2>

    <p class="article-preview__text">
      In my previous post we looked at Shoelace, which is a component library with a full
      suite of UX components that are beautiful, accessible, and — perhaps unexpectedly —
      built with Web Components. This means they can be used …
    </p>

    <div class="author">

      <a>
        <img class="author__picture" src="images/icons/person.png" alt="Author's profile picture.">
      </a>

      <span>
        <a class="link link--color-3 author__name">Adam Rackis</a> on Oct 5, 2022
      </span>

    </div>

  </div>

</article>

<article class="article-preview">

  <a class="article-preview__image-link">
    <img class="article-preview__image" src="images/misc/article-3.webp" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part">

    <ul class="horizontal-list horizontal-list--stylish">
      <li><a class="link link--color-2">Research</a></li>
      <li><a class="link link--color-2">Survey</a></li>
    </ul>

    <h2 class="heading">
      <a class="link link--color-3">State of CSS 2022 Survey Now Open </a>
    </h2>

    <p class="article-preview__text">
      The State of CSS survey recently opened up. Last year, the survey confirmed everyone’s
      assumptions that TailwindCSS is super popular and CSS variables are mainstream.
      It also codified what many of us want from CSS, from Container Queries to …
    </p>

    <div class="author">

      <a>
        <img class="author__picture" src="images/icons/person.png" alt="Author's profile picture.">
      </a>

      <span>
        <a class="link link--color-3 author__name">Geoff Graham</a> on Oct 4, 2022
      </span>

    </div>

  </div>

</article>