<li class="fancy-cards-item">

  <article class="fancy-cards-article">

    <div>

      <span class="fancy-cards-article__date">
        <span class="fancy-cards-article__date-emphasis">Article</span> on Sep 5, 2022
      </span>

      <h3 class="heading heading--small"><a class="link link--color-4">Flutter For Front-End Web Developers</a></h3>

      <ul class="horizontal-list horizontal-list--stylish">
        <li><a class="link link--color-2">Flutter</a></li>
      </ul>

    </div>

    <div class="author">

      <a>
        <img class="author__picture" src="images/icons/person.png" alt="Author's profile picture.">
      </a>

      <a class="link link--color-4 author__name">Obumuneme Nwabude</a>

    </div>

  </article>

</li>

<li class="fancy-cards-item">

  <article class="fancy-cards-article">

    <div>

      <span class="fancy-cards-article__date">
        <span class="fancy-cards-article__date-emphasis">Article</span> on Sep 27, 2022
      </span>

      <h3 class="heading heading--small"><a class="link link--color-4">Named Element IDs Can Be Referenced as JavaScript Globals</a></h3>

      <ul class="horizontal-list horizontal-list--stylish">
        <li><a class="link link--color-2">Global Scope</a></li>
        <li><a class="link link--color-2">Javascript</a></li>
      </ul>

    </div>

    <div class="author">

      <a>
        <img class="author__picture" src="images/icons/person.png" alt="Author's profile picture.">
      </a>

      <a class="link link--color-4 author__name">Matteo Mazzarolo</a>

    </div>

  </article>

</li>

<li class="fancy-cards-item">

  <article class="fancy-cards-article">

    <div>

      <span class="fancy-cards-article__date">
        <span class="fancy-cards-article__date-emphasis">Article</span> on Sep 9, 2022
      </span>

      <h3 class="heading heading--small"><a class="link link--color-4">How I Made a Pure CSS Puzzle Game </a></h3>

      <ul class="horizontal-list horizontal-list--stylish">
        <li><a class="link link--color-2">Checkbox Hack</a></li>
        <li><a class="link link--color-2">Game</a></li>
        <li><a class="link link--color-2">Grid</a></li>
        <li><a class="link link--color-2">Mask</a></li>
        <li><a class="link link--color-2">Radial-Gradient</a></li>
      </ul>

    </div>

    <div class="author">

      <a>
        <img class="author__picture" src="images/icons/person.png" alt="Author's profile picture.">
      </a>

      <a class="link link--color-4 author__name">Temani Afif</a>

    </div>

  </article>

</li>