<article class="article-preview">
  
  <a class="article-preview__image-link">
    <img class="article-preview__image article-preview__image--interactive article-preview__image--small" src="images/misc/course-1.png" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part article-preview-text-part--dark-text article-preview-text-part--push">

    <div>

      <span class="blocky-span">Video Course (2015)</span>

      <h2 class="heading heading--no-margin">
        <a class="link link--color-3">
          Everything You Need To Know About SVG
        </a>
      </h2>
  
      <p class="article-preview__text">
        Using SVG can be very simple, but if you start digging in, there is a lot to know about SVG.
        In his series you're going to learn why SVG is such an important part of building websites.
        From why SVG is useful and how to get your hands on it all the way to implementing
        it as a system and fancy stuff like animating it. 
      </p>
  
    </div>

    <a class="button button--block">Go To Course</a>

  </div>

</article>

<article class="article-preview">
  
  <a class="article-preview__image-link">
    <img class="article-preview__image article-preview__image--interactive article-preview__image--small" src="images/misc/course-2.png" alt="Image representing the article.">
  </a>

  <div class="article-preview-text-part article-preview-text-part--dark-text article-preview-text-part--push">

    <div>

        <span class="blocky-span">Video Course (2013)</span>

        <h2 class="heading heading--no-margin">
          <a class="link link--color-3">
            Learn jQuery from Scratch.
          </a>
        </h2>
    
        <p class="article-preview__text">
          This series will take you from zero to being confident in writing and working with jQuery and JavaScript. 
        </p>

    </div>

    <a class="button button--block">Go To Course</a>

  </div>

</article>