@use '../var';

.basic-nav {
  max-width: 100%;
}

.basic-nav__list {
  display: flex;

  margin: 0;
  padding: 0;
  
  overflow: auto;
  list-style: none;
}

.basic-nav__link {
  display: block;
  padding: 10px;

  font-size: 12px;
  font-weight: bold;
  font-family: Primer;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  white-space: nowrap;
  user-select: none;
  
  &:hover {
    color: var.$orange;
    background-color: rgba(255, 255, 255, 0.1);
  }
}