.heading {
  margin: 0.3em 0 0.6em 0;

  font-size: 32px;
  line-height: 115%;
  font-family: Primer, sans-serif;
  color: rgb(0, 0, 0);
}

.heading--huge {
  font-size: 48px;
}

.heading--jumbo {
  font-size: 58px;
}

.heading--small {
  font-size: 22px;
}

.heading--color-2 {
  color: rgb(255, 255, 255);
}

.heading--shadow {
  text-shadow:rgba(0, 0, 0, 0.5) 0px 3px 3px;
}

.heading--fancy {
  font-weight: normal;
  font-family: Blanco, serif;
}

.heading--uppercased {
  text-transform: uppercase;
}

.heading--no-margin {
  margin: 0;
}

.heading--even-margin {
  margin: 0.6em 0;
}