@use '../var';

.search-button {
  position: fixed;
  top: 12px;
  // 56px = 'padding' + width
  left: calc(100% - 56px);
  z-index: 5;

  width: 32px;
  height: 32px;
  padding: 0;

  border: none;
  background-color: transparent;
  border-radius: 50%;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 2px 5px);

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.search-button__icon {
  width: 100%;
}

@media(min-width: var.$max-width) {
  .search-button {
    left: calc(100% - 56px + (1500px - 100%) / 2);
  }
}

@media(min-width: calc(var.$max-width + 64px)) {
  .search-button {
    left: calc(100% - 32px + (1500px - 100%) / 2);
  }
}