@use '../var';

.search-button {
  position: fixed;
  top: 12px;
  // 48px = 'padding' + width
  left: calc(100% - 48px);
  z-index: 5;

  width: 32px;
  height: 32px;
  padding: 0;

  border: none;
  background-color: transparent;
  //box-shadow:...

  opacity: 0.7;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.search-button__icon {
  width: 100%;
}

@media(min-width: var.$max-width) {
  .search-button {
    left: calc(100% - 48px + (1500px - 100%) / 2);
  }
}