@use '../var';

.the-header {
  background-color: rgb(17 17 17);
  border-bottom: 1px solid rgb(103 103 103);
}

.the-header-content {
  display: flex;
  flex-flow: column;
  gap: 8px 48px;

  position: relative;

  max-width: var.$max-width;
  margin: auto;
  padding: 16px 24px 0 24px;
}

@media(min-width: 1140px) {
  .the-header-content {
    padding-bottom: 16px;
  }

  .the-header-content {
    flex-flow: row;
    align-items: center;

    .basic-nav__list {
      overflow: visible;
    }

    .basic-nav__link {
      display: inline;
      padding: 30px 12px 21px;
    }
  }
}